

.bgimg{
    background-color: rgb(223, 238, 14);

}

.homecol{
    padding: 10px;
    background-color: azure;
    padding:10px;
    
    
    
}


.homecol img{
    width:80px;
    height:80px;
}

.fordeveloper{
    text-align: center;
}


  .gridcolgap {
    
    background-color: azure;
    padding:10px;

    
  }

  .hire{
      padding-top:100px
  }

  .hire img{
    width:80px;
    height:80px;

  }


  .grow{
      text-align: center;
      padding-top:80px ;
  }
  .grow p{
    text-align: left;
    
}


  .grow img{
    width:200px;
    height:200px;
    

  }